<p>list-empleados works!</p>
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de Empleados</span>
      <a class="btn btn-dark btn-sm float-end" href='http://localhost:4200/create-empleado'>Agregar</a>

      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Salario</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>José Luis</td>
            <td>Galvis</td>
            <td>96065434</td>
            <td>2500000</td>
            <td>
              <i class="fas fa-edit fa-lg text-info cursor-pointer"></i>
            </td>
            <td>
              <i class="fas fa-trash fa-lg text-danger cursor-pointer"></i>
            </td>
          </tr>
          <tr>
            <td>Yrsa</td>
            <td>Bello</td>
            <td>95912221</td>
            <td>3000000</td>
            <td>
              <i class="fas fa-edit fa-lg text-info cursor-pointer"></i>
            </td>
            <td>
              <i class="fas fa-trash fa-lg text-danger cursor-pointer"></i>
            </td>
          </tr>
          <tr>
            <td>Carlos Jesus</td>
            <td>Bello</td>
            <td>95950550</td>
            <td>3500000</td>
            <td>
              <i class="fas fa-edit fa-lg text-info cursor-pointer"></i>
            </td>
            <td>
              <i class="fas fa-trash fa-lg text-danger cursor-pointer"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
